# Created by .ignore support plugin (hsz.mobi)
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
Firebase.iml
/Chat/firebase-debug.log
